html{
  margin: 0;
  padding: 0;
   
 
}
.wrapper{
  background-color: blue;
  color: white;
  height: 99vh;
  margin: -10px;
  padding: 0;
  
  
}
.allData{
  padding: 10px;
  text-shadow: 1px 1px black;
}
#header{
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
   font-size: 150%; 
   text-shadow: 2px, 2px black;
}
#body{
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  margin: 10%;
  font-size: 150%;

}
#instructions{
  font-size: 80%;
}

#success{
  display:none;
}
#error{
  display:none;
}
#zipCode{
  display: none;  
}

